version: '3.8'

services:
  client:
    build: ./client
    volumes:
      - ./client/src:/usr/src/app
    tty: true
    depends_on:
      - backend
    ports:
      - 1234:1234

  backend:
    build: ./backend
    volumes:
      - ./backend:/usr/src/app
    ports:
      - 5000:5000
    environment:
      - FLASK_APP=manage.py
