version: '3.8'

services:
  nginx:
    container_name: nginx
    ports: 80:80
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    volumes:
      - ./backend:/usr/src/app
