version: '3.8'

services:
  client:
    image: nginx
    container_name: client
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    volumes:
      - ./client/dist:/etc/nginx/conf.d
    ports:
      - 80:80
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    restart: always
    volumes:
      - ./backend:/usr/src/app
    environment:
      - FLASK_APP=manage.py
